<!doctype html>
<html lang="es-es" ng-app="app">
<head>
    <title>Agenda Contactos</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <base href="/">
</head>
<body class="ng-cloak" ng-cloak>
<nav class="navbar navbar-inverse navbar-fixed-top" id="nav" ng-controller="NavigationController as ctrl">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">INICIO</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ng-show="authenticated"><a href="/main">Clientes</a></li>
                <!--<li ng-show="authenticated"><a href="#">Productos</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="authenticated"><a href="/login">ENTRAR</a></li>
                <li ng-show="authenticated"><a href="" ng-click="ctrl.logout()">Salir</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-view></div>
</div>
<script src="js/libs/angular.js" type="text/javascript"></script>
<script src="js/libs/angular-route.js"></script>
<script src="js/libs/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/services/cliente-service.js"></script>
<script src="js/services/pedido-service.js"></script>
<script src="js/controllers/home-controller.js"></script>
<script src="js/controllers/cliente-controller.js"></script>
<script src="js/controllers/navigation-controller.js"></script>
<script src="js/controllers/main-controller.js"></script>
<script src="js/controllers/pedido-controller.js"></script>
<script src="js/libs/jquery-3.1.1.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
</body>
</html>
